[user]
	name = James Koval
	email = james.ross.koval@gmail.com
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
  editor = vim
[init]
	templatedir = ~/.git_template
[diff "l10n"]
    textconv = "iconv -f utf-16 -t utf-8"
