[user]
	name = James Koval
	email = jkoval@aurorasolar.com
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
  editor = vim
	whitespace = trailing-space
	pager = less -FMRiX
[init]
	templatedir = ~/.git_template
[diff "l10n"]
    textconv = "iconv -f utf-16 -t utf-8"

[alias]
# http://stackoverflow.com/questions/591923/make-git-automatically-remove-trailing-whitespace-before-committing
# Clean trailing whitespace with git fix<tab><tab><enter>
  ; fixws-global-tree-and-index = !"\
  ;   if (! git diff-files --quiet .) && \
  ;      (! git diff-index --quiet --cached HEAD) ; then \
  ;     git commit -m FIXWS_SAVE_INDEX && \
  ;     git add -u :/ && \
  ;     git commit -m FIXWS_SAVE_TREE && \
  ;     git rebase --whitespace=fix HEAD~2 && \
  ;     git reset HEAD~ && \
  ;     git reset --soft HEAD~ ; \
  ;   elif (! git diff-files --quiet .) ; then \
  ;     git add -u :/ && \
  ;     git commit -m FIXWS_SAVE_TREE && \
  ;     git rebase --whitespace=fix HEAD~ && \
  ;     git reset HEAD~ ; \
  ;   elif (! git diff-index --quiet --cached HEAD) ; then \
  ;     git commit -m FIXWS_SAVE_INDEX && \
  ;     git rebase --whitespace=fix HEAD~ && \
  ;     git reset --soft HEAD~ ; \
  ;   fi"
[diff]
	noprefix = false
  renames = true
[push]
	default = simple
[alias]
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
